* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}

header {
    width: 100%;
    height: 30vh;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 194px;
    height: 40px;
}

main {
    width: 100%;
    height: 70vh;
}

main .main-information-container {
    width: 100%;
    height: 20%;
    text-align: center;
}

main .main-information-container h1 {
    font-size: 1.8rem;
    font-weight: bold;
    margin: 10px;
}

main .main-information-container p {
    width: 270px;
    font-size: 1.8rem;
    margin: 0 auto;
    color: #757575;
}

main .main-details-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    margin: 0 auto;
}

main .main-details-container p {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 5px;
}

main .main-details-container label {
    width: 100%;
    text-align: center;
}

main .email-input {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 8px;
    padding: 5px;
    background-color: #f7f7f7;
    margin-bottom: 30px;
}

main .submit-button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 12px;
    background-color: #acd9b2;
    color: #fff;
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 30px;
}

main .main-details-container a {
    text-decoration: none;
    font-size: 1.4rem;
    color: #acd9b2;
    margin: 0 auto;
}